<div class="app-shell min-h-screen bg-surface text-on-surface">
  <.dm_appbar
    id="app-appbar"
    title="Manifold"
    title_to={~p"/"}
    class="appbar-primary appbar-sticky"
    nav_label="Application"
  >
    <:logo>
      <.dm_mdi name="email-multiple-outline" class="brand-icon size-6" />
    </:logo>
    <:after_title><.appbar_version /></:after_title>
    <:menu to={~p"/"}>Mail</:menu>
    <:menu to={~p"/contacts"}>Contacts</:menu>
    <:menu to={~p"/calendars"}>Calendars</:menu>
    <:menu to={~p"/deliveries"}>Operations</:menu>
    <:menu to={~p"/cloud"}>Cloud</:menu>
    <:menu to={~p"/settings"}>Settings</:menu>
  </.dm_appbar>
  <main class="content">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
